<div class="panel" [@showLocationsAnimation]="showLocations">
    <app-city-weather-info *ngIf="!showLocations" [selectedLocationObj]="selectedLocation" (showLocationsEvent)="toggleLocations()"></app-city-weather-info>
    <app-weather-locations *ngIf="showLocations" (selectLocationEvent)="getSelectedLocation($event)" [locationsList]="locations"></app-weather-locations>
</div>