<div class="row">
    <div class="col-7 text-center py-4 time-tab">
        {{ selectedLocationObj?.time }}
    </div>
    <div class="col-5 text-center location-tab py-4" (click)="showLocations()">
        {{ selectedLocationObj?.locationName }}, Slovakia <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
    </div>
</div>
<div class="row my-3 text-center align-items-center">
    <div class="col-4">
        <img src="../../../../../assets/svgs/{{ selectedLocationObj.weatherStatus }}.svg" alt="Cloud icon">
        <p class="weather-status-text">{{ selectedLocationObj?.weatherStatus }}</p>
    </div>
    <div class="col-4">
        <span class="weather-temperature">{{ selectedLocationObj?.temperature }}</span>
        <span class="weather-temperature-celsius-sign">°C</span>
    </div>
    <div class="col-4 align-self-end">
        <p class="weather-max-and-min-temp">
            {{ selectedLocationObj?.maxTemp }}°C
            <img class="arrow-up" src="../../../../../assets/svgs/arrow-up.svg" alt="Arrow up">
        </p>
        <p class="weather-max-and-min-temp">
            {{ selectedLocationObj?.minTemp }}°C
            <img src="../../../../../assets/svgs/arrow-down.svg" alt="Arrow down">
        </p>
    </div>
</div>

<div class="row my-3 text-center align-items-center">
    <div class="col-4">
        <img src="../../../../../assets/svgs/humidity.svg" alt="Humidity icon">
        <p class="second-row-text">{{ selectedLocationObj?.humidity }}%</p>
        <p class="second-row-subtext">Humidity</p>
    </div>
    <div class="col-4">
        <img src="../../../../../assets/svgs/pressure.svg" alt="Pressure icon">
        <p class="second-row-text">{{ selectedLocationObj?.pressure }}mBar</p>
        <p class="second-row-subtext">Pressure</p>
    </div>
    <div class="col-4">
        <img src="../../../../../assets/svgs/wind.svg" alt="Wind icon">
        <p class="second-row-text">{{ selectedLocationObj?.wind }} km/h</p>
        <p class="second-row-subtext">Wind</p>
    </div>
</div>

<div class="row my-3 text-center align-items-center">
    <div class="col-4">
        <img src="../../../../../assets/svgs/sunrise.svg" alt="Sunrise icon">
        <p class="second-row-text">{{ selectedLocationObj?.sunrise }}</p>
        <p class="second-row-subtext">Sunrise</p>
    </div>
    <div class="col-4">
        <img src="../../../../../assets/svgs/sunset.svg" alt="Sunset icon">
        <p class="second-row-text">{{ selectedLocationObj?.sunset }}</p>
        <p class="second-row-subtext">Sunset</p>
    </div>
    <div class="col-4">
        <img src="../../../../../assets/svgs/sand-clock.svg" alt="Daytime icon">
        <p class="second-row-text">{{ selectedLocationObj?.daytime }}</p>
        <p class="second-row-subtext">Daytime</p>
    </div>
</div>

<div class="row my-3 text-center align-items-center justify-content-center">
    <div class="col-4">
        <div class="bottom-card px-0 py-2">
            <img src="../../../../../assets/svgs/{{ selectedLocationObj.firstDayWeatherStatus }}.svg" alt="Sunny icon">
            <p class="second-row-text">{{ selectedLocationObj?.firstDayDate }}</p>
            <p class="second-row-subtext">
                {{ selectedLocationObj?.firstDayMaxTemp }}°C
                <img class="arrow-up-smaller mr-1" src="../../../../../assets/svgs/arrow-up-smaller.svg" alt="Arrow up">
                {{ selectedLocationObj?.firstDayMinTemp }}°C
                <img src="../../../../../assets/svgs/arrow-down-smaller.svg" alt="Arrow up">
            </p>
        </div>
    </div>
    <div class="col-4">
        <div class="bottom-card px-0 py-2">
            <img src="../../../../../assets/svgs/{{ selectedLocationObj.secondDayWeatherStatus }}.svg" alt="Cloudy icon">
            <p class="second-row-text">{{ selectedLocationObj?.secondDayDate }}</p>
            <p class="second-row-subtext">
                {{ selectedLocationObj?.secondDayMaxTemp }}°C
                <img class="arrow-up-smaller mr-1" src="../../../../../assets/svgs/arrow-up-smaller.svg" alt="Arrow up">
                {{ selectedLocationObj?.secondDayMinTemp }}°C
                <img src="../../../../../assets/svgs/arrow-down-smaller.svg" alt="Arrow up">
            </p>
        </div>
    </div>
    <div class="col-4">
        <div class="bottom-card px-0 py-2">
            <img src="../../../../../assets/svgs/{{ selectedLocationObj.thirdDayWeatherStatus }}.svg" alt="Hazy icon">
            <p class="second-row-text">{{ selectedLocationObj?.thirdDayDate }}</p>
            <p class="second-row-subtext">
                {{ selectedLocationObj?.thirdDayMaxTemp }}°C
                <img class="arrow-up-smaller mr-1" src="../../../../../assets/svgs/arrow-up-smaller.svg" alt="Arrow up">
                {{ selectedLocationObj?.thirdDayMinTemp }}°C
                <img src="../../../../../assets/svgs/arrow-down-smaller.svg" alt="Arrow up">
            </p>
        </div>
    </div>
</div>