<div class="row mb-3">
    <div class="col-12 text-center mt-4">
        <h5 class="heading">Location</h5>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12 d-flex justify-content-center">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="outline">
              <input type="text"
                     placeholder="Search city ..."
                     matInput
                     [formControl]="locationControl">
              <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field>
          </form>
    </div>
</div>
<div class="row justify-content-center cursor-pointer" *ngFor="let location of filteredLocations | async"
 (click)="selectLocation(location)">
    <div class="col-12 location-col d-flex justify-content-between">
        <span class="location-name">{{ location.locationName }}</span>
        <span class="location-temperature">{{ location.temperature }}°C</span>
    </div>
</div>