.heading {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #999999;
}

.row {
    margin: 0;
}

.mat-form-field {
    width: 335px;
    height: 40px;
    font-size: 18px;
}

@media only screen and (max-width: 355px) {
    .mat-form-field {
        width: 270px;
        height: 40px;
        font-size: 18px;
    }
  }

input::placeholder {
    font-style: italic;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: #F3F3F3;
}

:host ::ng-deep div.mat-form-field-outline-start{
    border-color: 0 !important;
    border-width: 0px !important;
    border-radius: 4px !important;
}

:host ::ng-deep .mat-form-field-outline-gap{
    border-color: 0 !important;
    border-width: 0px !important;
    border-radius: 4px !important;
}

:host ::ng-deep .mat-form-field-outline-end{
    border-color: 0 !important;
    border-width: 0px !important;
    border-radius: 4px !important;
}

.location-col {
    max-width: 335px;
    cursor: pointer;
}

.location-col:hover .location-name {
    color: rgba(13, 160, 234, 1);
}

.location-temperature {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #666666;
}

.location-name {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: -0.05em;
    color: #444444;
}