.panel {
    background-color: #FFFFFF;
    box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: 0;
}