/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    margin: 0;
    // background: url("./assets/svgs/graphic.svg") no-repeat top right fixed;
    // background-size: cover;
    overflow: hidden;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
