.time-tab {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #999999;
}

.location-tab {
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: rgba(13, 159, 234, 0.08);
    color: rgba(13, 160, 234, 1);
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.weather-status-text {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.05em;
    color: #000000;
}

.weather-temperature {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    letter-spacing: -0.05em;
    color: #000000;
}

.weather-temperature-celsius-sign {
    position: absolute;
    top: 11px;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #666666;
}

.weather-max-and-min-temp {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #666666;
}

.arrow-up {
    margin-bottom: 5px;
}

.arrow-up-smaller {
    margin-bottom: 2px;
}

.second-row-text {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.05em;
    color: #444444;
    margin-bottom: 0;
}

.second-row-subtext {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    letter-spacing: 0.1em;
    color: #999999;
}

.bottom-card {
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.row {
    margin: 0;
}

.weather-status-icon {
    font-size: 50px;
    color: #AAAAAA;
}